
.header_container{

					width:100%;
					border:none;
					margin:auto;
					

}

.page_header{

				text-align: center;	
				line-height: 0.3;
				color:white;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}

.footer_container{

					width:100%;
					border:none;
					margin:auto;
					

}

.page_footer{

				text-align: center;
				color:black;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

 .first_container{

                width:100%;
                border:none;
                margin:auto;
}

form{
				background-color: rgb(204, 204, 0);
				line-height: 1.8;
				width: 80%;
				border-radius: 0.3rem;
				padding-left:20px;
				margin:auto;

}

@media (max-width: 1500px) {
  form {
   width: 92%;
   
  }
}

html{
	
	background-color: white;
	background-image: url('https://marketplace.canva.com/EAD2-sy3snI/2/0/1600w/canva-tropical-happiness-zoom-virtual-background-JtPR2q13C4g.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-size: cover;

	
}
body{
	
	display:table;
	background-color: rgb(255, 0, 0, 0.6);
	margin:auto;
	width:65%;


}

@media (max-width: 900px) {
  body {
   width: 96%;
   background-color: rgb(255, 0, 0, 0.6);
  }
}

.input{

		width:90%;
		height:25px;
		border-radius: 0.45rem;
		border-color:yellow;

}

.label{
		margin-top:30px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.submit_button{
				margin-top: 50px;
				border-radius: 12px;
				padding: 5px 10px;
				width:20%;
				cursor: pointer;

}



