
.header_container{

					width:100%;
					border:none;
					margin:auto;
					

}

.page_header{

				text-align: center;	
				line-height: 0.3;
				color:white;
				text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}

.footer_container{

					width:100%;
					border:none;
					margin:auto;
					

}

.page_footer{

				text-align: center;
				color:black;
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

 .first_container{

                width:100%;
                border:none;
                margin:auto;
}

form{
				background-color: rgb(204, 204, 0);
				line-height: 1.8;
				width: 80%;
				border-radius: 0.3rem;
				padding-left:20px;
				margin:auto;
				box-shadow: 4px 4px 4px white;

}

@media (max-width: 1500px) {
  form {
   width: 85%;
   
  }
}

html{
	
	background-color: white;
	background-image: url('abc.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-size: cover;

	
}

@media (max-width: 900px) {
  html {
   			
  			background-color: white;
  			background-image: url('bcd.jpg');
   			background-repeat: no-repeat;
			background-attachment: fixed;
 			background-size: cover;
  }
}


body{
	
	display:table;
	background-color: rgb(255, 0, 0, 0.6);
	margin:auto;
	width:65%;


}

@media (max-width: 900px) {
  body {
   width: 96%;
   background-color: rgb(255, 0, 0, 0.6);
  }
}

.input{

		width:90%;
		height:25px;
		border-radius: 0.45rem;
		border-color:yellow;

}

.label{
		margin-top:30px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		
}

.rate_input{
			margin-top: 20px; 
			cursor: pointer;
	                width: 98%
}


.submit_button{
				margin-top: 50px;
				border-radius: 6px;
				width:90%;
				height:30px;
				cursor: pointer;
				

}


.button2:hover {
  				box-shadow: 0 12px 16px 0 rgb(0, 153, 51),0 17px 50px 0 rgb(0, 153, 51);
  				font-color:red;
  				-webkit-transition-duration: 0.4s; /* Safari */
  				transition-duration: 0.4s;
}

.rate_div{
		width:181px;
	        background-color: lightgreen;
}

@media (max-width: 900px) {
  .rate_div {
   width: 90%;
  
  }
}

@media (max-width: 900px) {
  .div_rate_label {
   width: 90%;
  
  }
}
